:root {
    --light-color: #74BF04;
    --dark-color: #488C03; 
  }

.field {
    background-color: lightgray;
    height: 10px;
    width: 10px;
}

.icon {
    margin: 1%;
}

.active{
    background-color: black;
}

.messageBlock{
    display: flex;
    justify-content: space-between;
}

#serverSpace {
    width: 70%;
    background-color: black;
    color: var(--light-color);
    padding: 0 5%;
    font-family: monospace;
    font-size: 1.4em;
    height: 40vh;
    overflow-y: scroll;
    margin: 2% 0%;
}

#serverContainer {
    display: flex;
    justify-content: space-evenly;
}

#gridSpace {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

#translaterSpace{
    height: 40vh;
    width: 30vw;
    border: 1px solid grey;
    margin: 2% 0%;

}

#outputArea {
    display: flex;
    justify-content: center;
}

#inputArea {
    display: flex;
    justify-content: center;
    margin: 2% 0;
}

.breakPoint {
    padding: 0 20px;
}

.rowNumber {
    padding: 0 10px;
}

#buttonContainer {
    display: flex;
    justify-content: center;
}

.imageBuilderField {
    width: 30px;
    height: 30px;
    border: 1px solid;
}

.inputField {
    width: 20px;
}

.inputField {
    width: 20px;
    height: fit-content;
    font-size: 1.3em;
    text-align: center;
    border: 1px solid lightgray;
    cursor: pointer;
}

.inputSupport {
    margin: 0;
    font-weight: bold;
    color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#knownImages {
    display: flex
;
    justify-content: center;
}

.buttonSpace {
    display: flex;
    justify-content: space-evenly;
}

h1 {
    text-align: center;
    color: var(--dark-color);
    font-family: "Momo Trust Display", sans-serif;
}

.openingButton {
    height: 4vh;
    width: 20vw;
    font-size: 1.5vw;
}

.buttonStyle{
    font-family: "Momo Trust Display", sans-serif;
    background-color: var(--light-color);
    border: 2px solid var(--dark-color);
    color: #0C0D0C;
    cursor: pointer;
    border-radius: 1vw;
}

#startbutton {
    height: 3vh;
    width: 14vw;
    font-size: 1vw;
    margin: 2vh;
}

.disabledButton {
    color: var(--dark-color);
    cursor: not-allowed;
}

.tableName{
    font-size: 1.3em;
    font-family: "Momo Trust Display", sans-serif;
}

#changeRecipientTable {
    width: 300px;
    text-align: center;
    font-family: "Momo Trust Display", sans-serif;
    border: 2px solid var(--light-color);
}
